/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

/********************************/
/********************************/
/* END OF RESET*/

body {
    font: normal 15px/150% Helvetica, Arial, sans-serif;
    background-color: #252525;
}

.container {
    margin: 10px;
}

.main_titles {
    font: small-caps normal 24px/150% Helvetica, Arial, sans-serif;
    text-align: center;
    color: #e8e8e8;
}

.center_text {
    color: #e8e8e8;
}

.workout {

}

/*FLOATS & CLEAR*/
.leftFLoat {
    float: left;
    margin-left: 10px;
}

.rightFLoat {
    float: right;
    margin-right: 10px;
}

.top {
    margin-top: 10px;
}

.bottom {
    margin-bottom: 10px;
}

.left {
    margin-left: 10px;
}

.right {
    margin-right: 10px;
}

.marginAll {
    margin: 10px;
}

.wipe {
    overflow: hidden;
    clear: both;
}

.block {
    display: inline-block;
}

/*TESTS*/
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.pink {
    background-color: pink;
}
.purple {
    background-color: purple;
}
.white {
    background-color: #e8e8e8;
}
.grey {
    background-color: #555555;
}

.accordion dt {border: 1px solid red;display: none;}