extends ./layout.jade
block content
    .row
        h1.main_titles.small-12
            =''+ pageTitle
    .container
    a.button.small-5.tiny.left(href='/workouts') Workouts
    a.button.small-5.tiny.right(href='/results') Results


    a.button.small-12.expand(class='button [secondary alert success]' href='/logout') Logout