extends ./layout.jade
block content
    .row
        h1.main_titles.small-12 Welcome to Time!
    .container
        p.center_text
            |Time is an application made specifically for the Crossfitter that is interested tracking his/her benchmark
            |workouts stats.

        h3 Login

            form(action='/auth/facebook', method='get')
                input.button.expand(type='submit' value='Using Facebook')