doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        // Foundation
        link(rel='stylesheet', href='/foundation/css/normalize.css')
        link(rel='stylesheet', href='/foundation/css/foundation.css')
        // Personal CSS
        link(rel='stylesheet', href='/style.css', type='text/css')

        script(src='foundation/js/vendor/modernizr.js')

    body
        block content