extends ./layout.jade
block content
    .row.top
        a.button.tiny.small-3.left(href='/workouts')
            | Back
        h1.main_titles.small-9
            =''+ pageTitle
    div.container
        form(action='/save_result', method='post')
            div.workout.grey.wipe
                h1.wipe
                    =' ' + workout.name
                p.wipe
                    | Description:
                    =' ' + workout.detail.description
                label(for=workout.detail.goal).left
                    | Goal:
                // Goal input right label
                span.right.small-3=workout.detail.goal
                input(type='text', placeholder='0', name='workoutData[goal][value]').small-3.right
                input(type='hidden', value=workout._id, name='workoutId')

                each step, i in workout.steps
                    - var name = step.parts[0].inputValue;
                    each part, i in step.parts
                        if i == 0
                            p.left.small-3.wipe
                                =part.inputValue
                            input(type='hidden', value=part.inputValue, name='workoutData[exercise][name]')
                        else
                            span.right.small-3=part.exerciseType
                            input(type="text", value=part.inputValue, name='workoutData[amount][value]').small-3.right
                            input(type='hidden', value=part.exerciseType, name='workoutData[type][typ]')
            input(type='submit',value='Submit').button.small-12.expand