extends ./layout.jade
block content
    .row.top
        a.button.tiny.small-3.left(href='/dashboard')
            | Back
        h1.main_titles.small-9
            =''+ pageTitle

    - var panel = 'panel';
    dl.accordion.container
        each workout, i in workouts
            dd.accordion-navigation.grey.wipe
                a(href='#panel'+(i+1))=''+workout.name
                div(id=panel+(i+1)).content.active
                    a(href='/workouts/'+workout._id)
                        p.wipe
                            ='' + workout.name
                        p.wipe
                            | Description:
                            =' ' + workout.detail.description
                        p.wipe
                            | Goal:
                            =' ' + workout.detail.goal

                        each step, i in workout.steps
                            each part, i in step.parts
                                p.wipe

                                div
                                    p.left
                                        =part.inputValue
                                    p.right
                                        =part.exerciseType

        br
script(src='foundation/js/vendor/jquery.js')
script(src='foundation/js/vendor/fastclick.js')
script(src='foundation/js/foundation.min.js')
script.
    $(document).foundation();